.container-div {
    width: 100%;
    height: 100vh;
    color: white;
}

/* Animations */
.fade-in {
    animation: fadeInAnimation ease 0.45s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-in-slow {
    animation: fadeInAnimation ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}