h3 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.my-name-label {
    font-size: 40px;
    font-weight: 500;
}

.image-style {
    background-color: gray;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid white;
}

.my-header-div {
    background-color: #008877;
    border-radius: 8px;
    height: auto;
    width: 85%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    display: flex;
}

.profile-image {
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages-div {
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.knowledge-div {
    width: 80%;
    margin: auto;
}

.recommend-letter {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
    margin-bottom: 20px;
}

.resume {
    display: block;
    width: 100%;
    height: 900px;
    border: none;
    margin-bottom: 20px;
}

.awards {
    background-color: #008877;
    border-radius: 8px;
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    overflow: hidden;
}

.self-desc-label {
    font-size: 25px;
}


@media (max-width: 700px) {
    .my-header-div {
        display: block;
        width: 100%;
        background-color: red;
        padding: 0px;
    }
    
    .knowledge-div {
        width: 100%;
    }

    .languages-div {
        width: 100%;
    }

    .profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-name-label {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .image-style {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .self-desc-label {
        width: 100%;
        font-size: 13px;
        text-align: center;
        padding: 5px;
        padding-bottom: 8px;
    }

    .awards {
        width: 95%;
    }

    .recommend-letter {
        display: block;
        width: 100%;
        height: 250px;
        border: none;
    }
}