.scroll-card {
    width: 430px;
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
}

.scroll-card-90 {
    width: 430px;
    height: 600px;
    rotate: 90deg;
    margin-left: 100px;
    margin-right: 100px;
}

.cert-div {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    display: flex;
    justify-content: center;
    height: 600px;
}

.relative {
    position: relative;
    height: 300vh;
}

.title {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

@media (max-width: 700px) {
    .relative {
        position: relative;
        height: 300vh;
        width: 100%;
    }

    .scroll-card {
        width: 290px;
        height: 390px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .scroll-card-90 {
        width: 290px;
        height: 390px;
        rotate: 90deg;
        margin-left: 55px;
        margin-right: 55px;
    }
    
    .cert-div {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 30px;
        display: flex;
        justify-content: center;
        height: 600px;
        width: 100%;
    }
}