.language-card {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 180px;
    height: auto;
    margin: 20px;
    /* background-color: #515B63; */
    border-radius: 15px;
    vertical-align: middle;
    transition: transform 0.2s;

}

.language-card:hover {
    transform: scale(1.05);
    box-shadow: 1 4px 16px rgba(0, 0, 0, 0.2);
}

.logo-img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.language-label {
    font-size: 23px;
    font-weight: 300;
}

@media (max-width: 450px) {
    .language-card {
        width: 200px;
        margin: 10px;
    }

    .language-label {
        font-size: 30px;
        font-weight: 300;
    }
}