.language-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin: 30px;
    background-color: #008877;
    border-radius: 15px;
    vertical-align: middle;
    transition: transform 0.2s;
}

.language-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.language-label {
    font-size: 25px;
    font-weight: 300;
}