.my-header-div {
    background-color: #008877;
    border-radius: 8px;
    font-size: 20px;
    height: auto;
    width: 85%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    display: flex;
}

.name-label {
    font-size: 40px;
}

.projects-div {
    background-color: #008877;
    border-radius: 8px;
    font-size: 20px;
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    overflow: hidden;
}

.project-div {
    background-color: #01695c;
    border-radius: 8px;
    font-size: 20px;
    height: auto;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    transition: transform 0.2s;
}

.project-div:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description-label {
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: end;
}

.desc-div-ios {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: end;
}

.desc-div {
    width: 55%;
    height: auto;
    display: flex;
    justify-content: end;
}

.desc-vid-div {
    display: flex;
    justify-content: start;
    align-items: start;
}

.gh-link {
    width: 10%;
    height: 40px;
    margin: 5px;
    background-color: #00B4A1;
    border: 0px solid white;
    border-radius: 10px;
    color: white;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.title-div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.gh-icon {
    margin: 5px;
}

.gh-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    background: #00E2CD;
}

.carousel-img {
    width: 100%;
    height: auto;
}

.carousel-img-ios {
    width: 100%;
    height: auto;
}

h1 {
    width: 87%;
}

.carousel-div {
    width: 40%;
    height: 280px;
    margin: 10px;
    transition: transform 0.2s;
}

.carousel-div-ios {
    width: 25%; 
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    transition: transform 0.2s;
}

.carousel-div-ios:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-div:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-div:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gh-link {
    font-size: 17px;
    overflow: hidden;
}

@media (max-width: 650px) {
    .my-header-div {
        width: 95%;
    }

    .projects-div {
        width: 95%;
        padding: 10px;
        padding-top: 0px;
        margin-top: 15px;
    }

    .project-div {
        width: 100%;
        padding: 15px;
    }

    .gh-link {
        width: 33%;
    }

    .carousel-div {
        width: 95%;
        height: auto;
        margin: auto;
        margin: 10px;
    }

    .carousel-div-ios {
        width: 50%; 
        margin: auto;
        margin-top: 10px;
    }

    .desc-vid-div {
        display: block;
    }

    .description-label {
        width: 100%;
        margin: 10px;
        font-size: 12px;
    }

    .desc-div-ios {
        width: 100%;
    }
    
    .desc-div {
        width: 100%;
    }
}